.dropdown{
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: black;
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    top: -25px;
    height: 180px;
    margin-bottom: -15px;
    width: 100%;
    border: 1px solid black;
    opacity: 0.6;
}
.dropdown-icons {
    height: 150px;
    width: auto;
    margin-right: 25px;
    opacity: 10;
}
.active{
    border: 1px solid blue;
}
.icon-row li{
    display: inline;
}
.check{
    color:blue;
}
#hr {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#side-nav a:hover{
    text-decoration:none;
    color: limegreen;
}
#side-nav a{
    color:black;
}
#side-nav{
    padding-left: 10px;
}
#side-nav li{
    color:black;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding: 0;
    margin: 0;
    line-height: 2.5em;
    list-style: none;
    position: relative;
    width:100%;
}
a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}
#chat{
    padding-left: 15px;
    text-decoration: none!important;
    color: #a8a8a8;
    display: inline-block;
    margin-top: 12px;
}
#name{
    text-transform: capitalize;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.online{
    width: 50px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 0;
    border-left: 3px solid #fff;
}
#shortcut{
    padding-left: 15px;
    text-decoration: none!important;
    color: #a8a8a8;
    display: inline-block;
    margin-top: 6px;
}
.login-info{
    display: block;
    font-size: 12px;
    height: 62px;
    color: #fff;
    border: solid transparent;
    border-width: 1px 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    width: 100%;
    margin: 0!important;
    border-bottom: 1px solid #525151;
}
.button{
    background-color: #fbfbfb;
}
.icon{
    padding-bottom:15px;
}
.text{
    height: 100px;
}
.line{
    padding: 0;
    margin: 0;
}
.timeline-icon::after {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: -50px;
    left: 18px;
    height: 130px;
    z-index: -100;
    width: 4px;
    background: #000000;
}
#list{
    padding-top:35px;
    padding-bottom:35px;
}
.well{
    background: #fbfbfb;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #ececec;
    -webkit-box-shadow: 0 1px 1px #ececec;
    -moz-box-shadow: 0 1px 1px #ececec;
    position: relative;
}
.timeline{
    position:relative;
}
.timeline-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.timeline-icon{
    color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    left: 80px;
    margin-top:-5px;
    z-index: 100;
    padding: 2px;
}
.timeline-time{
    float: left;
    width: 60px;
    text-align: right;
    font-style: italic;
}
.timeline-content{
    margin-left: 130px;
}